@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    background-color: #181922;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 200;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/aurora.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: -1;

    &:before {
        content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(#18181b,#18181b);
            opacity: .6; 
      }
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

.title {
    position: relative;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 5em;
}

h2 {
    font-weight: 200;
    margin-bottom: 30px;
}

.information {
    margin-top: 50px;
    width: 500px;
}

.terminal {
    background-color: #18181b;
    width: 750px;
    height: 475px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 4px;
    border-radius: 5px;
    font-family: monospace;
    padding: 20px 10px;
    color: rgba(255, 255, 255, 0.9);
}

.blue-text {
    color: rgb(16, 151, 204);
}

.red-text {
    color: rgb(209, 28, 28);
}

.green-text {
    color: rgb(0, 152, 91);
}

.gray-text {
    color: rgb(74, 74, 74);
}

.orange-text {
    color: rgb(212, 138, 0);
}


.anim {
    animation: 
    typewriterTitle 0.5s steps(5) 1s 1 normal both,
    blinkTextCursor 800ms steps(44) 3 normal;
    border-right: 2px solid transparent;
    animation-delay: 0.5s;
}

@keyframes typewriterTitle {
    from{width: 0;}
    to{width: 2.35em;}
}
@keyframes blinkTextCursor {
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
}

.fade-in-anim {
    animation: fadeIn 1s ease-in both;
    animation-delay: 1s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translate3d(0, -2%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes typewriter {
    from{width: 0;}
}


/* TERMINAL */

.typing-text {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 5em;
    animation: typewriter 0.5s steps(5) 1s 1 normal both;
}

.pop-up-text {
    animation: fadeIn 0.01s ease-in both;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
}


.t1 {
    animation-delay: 3.0s;
}

.p1 {
    animation-delay: 3.8s;
}

.p2 {
    animation-delay: 3.9s;
}

.t2 {
    animation-delay: 4.3s;
}

.p3 {
    animation-delay: 4.9s;
}

.t3 {
    animation-delay: 5.3s;
}

.p4 {
    animation-delay: 5.9s;
}

.t4 {
    animation: typewriter 1s steps(30) 1s 1 normal both;
    width: 20em;
    animation-delay: 6.3s;
}

.p5 {
    animation-delay: 7.5s;
}

.t5 {
    animation-delay: 7.9s;
}

.p6 {
    animation-delay: 8.3s;
}

.p7 {
    animation-delay: 8.8s;
}

.t6 {
    animation-delay: 9.2s;
}

.multiple-pop-up {
    display: flex;
    flex-direction: column;
}

.p8 {
    animation-delay: 9.8s;
}
.p9 {
    animation-delay: 10s;
}
.p10 {
    animation-delay: 10.2s;
}
.p11 {
    animation-delay: 10.4s;
}
.p12 {
    animation-delay: 10.6s;
}
.p13 {
    animation-delay: 11s;
}
.p14 {
    animation-delay: 11.5s;
}
.p15 {
    animation-delay: 11.8s;
}
.p16 {
    animation-delay: 12s;
}
.p17 {
    animation-delay: 12.2s;
}
.p18 {
    animation-delay: 12.5s;
}
.p19 {
    animation-delay: 13s;
}
.p20 {
    animation-delay: 13.2s;
}
.p21 {
    animation-delay: 13.4s;
}
.p22 {
    animation-delay: 13.6s;
}