@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #181922;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 200px;
}

.body-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88vh;
    margin: 100px 200px 0 200px;
    column-gap: 100px;
}

header {
    height: 12vh;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h3 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Playfair Display'; 
}

header ul {
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
}

header ul li a {
    display: inline-block;
    position: relative;
    color: #181922;
    text-decoration: none;
    padding: none;
    transition: all 0.3s ease-in-out;
}

header ul li a:before {
    content: '';
    background-color: #1819224d;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0.5px;
    transition: width 0.3s ease-in-out;
}

header ul li a:hover {
    background-position: 0;
  }
  
header ul li a:hover::before {
    width: 100%;
  }

a {
    color: #181922;
    text-decoration: none;
    padding: none;
}

h1 {
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Playfair Display';
}

.title {
    position: relative;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 5em;
}

h2 {
    font-size: 3.1rem;
    font-weight: 200;
    margin-bottom: 30px;
    font-family: 'Playfair Display';
}

h3 {
    font-size: 1.9rem;
    font-weight: 200;
    font-family: 'Playfair Display';
}

h4 {
    font-size: 1.18rem;
    font-family: 'Playfair Display';
}

.hero-text {
    line-height: 3.5em;
}

.olive {
    color: #526534;
}

.hero-information {
    width: 55%;
}

button {
    padding: 15px 30px;
    background-color: transparent;
    border: 1px solid #526534;
    color: #526534;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.4s;
    margin-left: 30%;
    margin-top: 50px;
}

button:hover {
    background-color: #526534;
    color: white;
    cursor: pointer;
}

.information-section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.information {
    width: 40%;
    height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 60px 60px;
    text-align: center;
}

.information h3 {
    margin: 5px 0 15px 0;
}

.information h4 {
    text-align: center;
}


#contact-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#contact-section article {
    text-align: center;
}

#contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.text-input {
    border: none;
    border-bottom: 1px solid #181922;
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%;
    transition: 0.4s;
    background-color: transparent;
}

input[type=text]:focus {
    border: none;
    width: 130%;
    outline: none;
    border-bottom: 1px solid #181922;
}

.submit {
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #526534;
    color: #526534;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.4s;
    margin: 30px;
}

.submit:hover {
    background-color: #526534;
    color: white;
    cursor: pointer;
}

.input-sections {
    display: flex;
    justify-content: space-between;
    width: 150%;
}

#margin {
    margin-top: 10px;
}









/*********************/

.terminal {
    background-color: #18181b;
    width: 750px;
    height: 525px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 4px;
    border-radius: 5px;
    font-family: monospace;
    padding: 20px 10px;
    color: rgba(255, 255, 255, 0.9);
}

.blue-text {
    color: rgb(16, 151, 204);
}

.red-text {
    color: rgb(209, 28, 28);
}

.green-text {
    color: rgb(0, 152, 91);
}

.gray-text {
    color: rgb(74, 74, 74);
}

.orange-text {
    color: rgb(212, 138, 0);
}


.anim {
    animation: 
    typewriterTitle 0.5s steps(5) 1s 1 normal both,
    blinkTextCursor 800ms steps(44) 3 normal;
    border-right: 2px solid transparent;
    animation-delay: 0.5s;
}

@keyframes typewriterTitle {
    from{width: 0;}
    to{width: 2.35em;}
}
@keyframes blinkTextCursor {
    from{border-right-color: #181818;}
    to{border-right-color: transparent;}
}

.fade-in-anim {
    animation: fadeIn 1s ease-in both;
    animation-delay: 1s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translate3d(0, -2%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes typewriter {
    from{width: 0;}
}


/* TERMINAL */

.typing-text {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 5em;
    animation: typewriter 0.5s steps(5) 1s 1 normal both;
}

.pop-up-text {
    animation: fadeIn 0.01s ease-in both;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
}


.t1 {
    animation-delay: 3.0s;
}

.p1 {
    animation-delay: 3.8s;
}

.p2 {
    animation-delay: 3.9s;
}

.t2 {
    animation-delay: 4.3s;
}

.p3 {
    animation-delay: 4.9s;
}

.t3 {
    animation-delay: 5.3s;
}

.p4 {
    animation-delay: 5.9s;
}

.t4 {
    animation: typewriter 1s steps(30) 1s 1 normal both;
    width: 20em;
    animation-delay: 6.3s;
}

.p5 {
    animation-delay: 7.5s;
}

.t5 {
    animation-delay: 7.9s;
}

.p6 {
    animation-delay: 8.3s;
}

.p7 {
    animation-delay: 8.8s;
}

.t6 {
    animation-delay: 9.2s;
}

.multiple-pop-up {
    display: flex;
    flex-direction: column;
}

.p8 {
    animation-delay: 9.8s;
}
.p9 {
    animation-delay: 10s;
}
.p10 {
    animation-delay: 10.2s;
}
.p11 {
    animation-delay: 10.4s;
}
.p12 {
    animation-delay: 10.6s;
}
.p13 {
    animation-delay: 11s;
}
.p14 {
    animation-delay: 11.5s;
}
.p15 {
    animation-delay: 11.8s;
}
.p16 {
    animation-delay: 12s;
}
.p17 {
    animation-delay: 12.2s;
}
.p18 {
    animation-delay: 12.5s;
}
.p19 {
    animation-delay: 13s;
}
.p20 {
    animation-delay: 13.2s;
}
.p21 {
    animation-delay: 13.4s;
}
.p22 {
    animation-delay: 13.6s;
}




@media (prefers-color-scheme: dark) {
    body {
        background-color: #202020;
        color: white;
    }

    header {
        box-shadow: #101010 0px 8px 24px;
    }

    header ul li a:before {
        background-color: #ffffff4d;
    }

    a {
        color: white;
    }

    header ul li a {
        color: white;
    }

    .terminal {
        box-shadow: #101010 0px 8px 24px;
    }

    .text-input {
        border-bottom: 1px solid white;
        color: white;
    }

    input[type=text]:focus {
        border-bottom: 1px solid white;
    }

    .olive {
        color: #749245;
    }

    button {
        border: 1px solid #749245;
        color: #749245;
    }
    
    button:hover {
        background-color: #749245;
    }

    .submit {
        border: 1px solid #749245;
        color: #749245;
    }

    .information {
        box-shadow: #101010 0px 8px 24px;
    }
}



@media only screen and (max-width: 1300px) {
    .body-wrapper {
        margin: 0px 90px;
        column-gap: 50px;
    }

    .hero-text h3 {
        font-size: 1.8rem;
    }

    .hero-information {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {

    html {
        overflow-x: hidden;
    }

    body {
        height: 100%;
        width: 100%;
        margin-bottom: 100px;
    }

    header {
        justify-content: start;
        padding-left: 30px;
    }

    header ul {
        right: 10%;
    }

    .body-wrapper {
        flex-direction: column;
        height: 150%;
        row-gap: 100px;
        margin: 50px 20px 100px 20px;
        padding: 0;
        align-items: center;
    }

    .terminal {
        width: 400px;
        height: 575px;
    }

    .hero-information {
        width: 80%;
    }

    button:hover {
        background-color: white;
        color: #526534;
        cursor: pointer;
    }

    .submit:hover {
        background-color: white;
        color: #526534;
        cursor: pointer;
    }

    .input-sections {
        flex-direction: column;
    }

    input[type=text]:focus {
        width: 100%;
    }

    .information-section {
        flex-direction: column;
        row-gap: 50px;
    }

    .information {
        width: 70%;
    }
}

