<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Ertia</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css"/>
	<link rel="icon" href="/img/ertia.jpg"/>

</head>

<header>
	<a href="#"><h3>&#x2811;&#x2817;Ertia</h3></a>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#contact-section">Contact</a></li>
		</ul>
	</nav>
</header>

<script defer language="javascript" type="text/javascript"  src="{{ "/js/script.js" | urlize | relURL }}"></script>