{{ partial "header.html" . }}

<body>
    <section class="background-image"></section>
    <article class="information">
        <h1 class="title anim">Ertia</h1>
        <section class="fade-in-anim">
            <h2>An open source software for something</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio neque maxime similique enim, distinctio ipsam? Magni illum eius ea ullam cupiditate, quidem ipsam mollitia eligendi voluptate necessitatibus libero eaque excepturi a et ex ducimus repellendus tempora aut, velit sequi deserunt, inventore enim! Ullam et natus nobis similique quaerat eos dolores laudantium.<br/><br/>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id repellendus velit veniam doloribus similique? At accusamus dolore ratione in, ab unde quaerat aut, facilis vero sint sit corrupti obcaecati aliquid itaque eius! Accusantium.</p>
        </section>
    </article>
    <section class="terminal fade-in-anim">
        <p><span class="green-text pop-up-text">&#10142;<span class="blue-text"> ertia git:(</span><span class="red-text">experiment</span><span class="blue-text">)</span> <span class="orange-text">&#10007;</span></span><span class="typing-text">./ert dm</span></p>

        <p class="pop-up-text">&nbsp; <span class="green-text">&#10004; [E] [R] [T] I A</span></p>

        <p><span class="green-text">?</span> New project <span class="blue-text">Setup</span></p>

        <p><span class="green-text">?</span> Select Provider <span class="blue-text">K3D</span></p>

        <p><span class="green-text">?</span> Project ID <span class="blue-text">ertia-2KsD1iW89bRcbG1TFlMnJYxfo4Y</span></p>

        <p><span class="green-text">?</span> Choose Bundles <span class="blue-text">Basic</span></p>

        <p>&nbsp; <span class="green-text">&#10004; Select bundles</span> <span class="gray-text">(0s)</span></p>

        <p><span class="green-text">?</span> Apply changes? <span class="blue-text">Yes</span></p>
        
        <span class="green-text">
            <p>&nbsp; &#10004; Requesting access to provider: K3D <span class="gray-text">(0s)</span></p>
            <p>&nbsp; &#10004; Setting up machines on: K3D</p>
            <p>&nbsp; &#10004; Normalizing and hardening virtual machines</p>
            <p>&nbsp; &#10004; Seeding cluster secrets</p>
            <p>&nbsp; &#10004; Deploying the Bundle: Basic <span class="gray-text">(0s)</span></p>
            <p>&nbsp; &#10004; Automatic certificate management</p>
            <p>&nbsp; &#10004; SQL Database (postgres)</p>
            <p>&nbsp; &#10004; Routing and security</p>
            <p>&nbsp; &#10004; CI/CD Pipelines</p>
            <p>&nbsp; &#10004; Logs, metrics, dashboard and alerting</p>
            <p>&nbsp; &#10004; Deploying: Git</p>
            <p>&nbsp; &#10004; Container Registry</p>
            <p>&nbsp; &#10004; Builds: Deploying</p>
            <p>&nbsp; &#10004; Provisioning: Deploying</p>
            <p><span class="green-text">&#10142;</span><span class="blue-text"> ertia git:(</span><span class="red-text">experiment</span><span class="blue-text">)</span> <span class="orange-text">&#10007;</span></p>
        </span>
    </section>
</body>